body {
  background-color: rgb(236, 235, 230);
}
header {
  display: flex;
  justify-content: center;
}
img {
  height: auto;
  width: 100%;
}

#header_logo {
  height: auto;
  width: 12rem;
  margin-top: 2rem;
}

p,
button,
th,
td {
  font-family: "IM Fell English", serif;
  font-size: 0.95rem;
  text-align: start;
}
h1 {
  font-family: "IM Fell English", serif;
  font-style: italic;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 3rem;
}
h2,
h3,
h4 {
  font-family: "IM Fell English", serif;
}
button {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.2rem;
}
button:hover {
  background-color: rgb(223, 215, 208);
}
#read_more_button {
  border: none;
  text-decoration-line: underline;
  font-weight: 600;
}

#student_list {
  border: 1px solid black;
  /* width: 95vw; */
}
#list tr:nth-child(odd) td {
  /* background-color: rgb(218, 216, 216); */
  background-color: rgba(126, 118, 92, 0.507);
}
th {
  padding: 0.4rem;
}
td {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
th.sortby[data-sort-direction="asc"]::after {
  content: " ▼";
  font-size: 0.8rem;
}
th.sortby[data-sort-direction="desc"]::after {
  content: " ▲";
  font-size: 0.8rem;
}
/* style on prefect*/
td[data-field="prefect"] {
  text-align: center;
}

td[data-field="prefect"]::after {
  content: "🛡";
  font-size: 1.5rem;
}
td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(100%);
}
/* style on i-squad*/
td[data-field="squad"] {
  text-align: center;
}

td[data-field="squad"]::after {
  content: "🎖";
  font-size: 1.5rem;
}
td[data-field="squad"][data-squad="false"]::after {
  filter: grayscale(100%);
}

#info_box {
  /* background-color: rgb(223, 215, 208); */
  padding: 0.6rem;
  padding-top: 0rem;
  height: fit-content;
  border: 1px solid black;
  background-color: #c9c7b9;
}
/* ------------styling af popup------------ */
#pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(64, 80, 71, 0.664);
  justify-content: center;
  align-items: center;
}
#pop_up .dialog {
  background-color: rgb(133, 158, 138);
}
.crest_img {
  height: auto;
  width: 5rem;
  background-color: transparent;
}

#remove_other,
#remove_aorb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(216, 216, 216, 0.664);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px black;
  padding: 4rem;
  background-color: rgb(155, 152, 146);
  position: relative;
}
.dialog h2 {
  margin-top: 0rem;
}
.close_button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.hide {
  visibility: hidden;
}
.pop_up_content {
  display: grid;
}
.crest_img {
  place-self: center;
  margin: 1rem;
}

/* indsæt mediaquery */
@media screen and (min-width: 1000px) {
  #content_container {
    display: flex;
    justify-content: center;
  }
  #list_section {
    margin-left: 2rem;
  }
  #student_list {
    width: 50rem;
  }
  .pop_up_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pop_up_texst {
    grid-column: 2/3;
  }
  .student_pic {
    width: fit-content;
  }
}
