header {
  display: flex;
  justify-content: center;
}

#header_logo {
  height: auto;
  width: 12rem;
}

h1,
p,
button,
th,
td {
  font-family: "Century Gothic";
  font-size: 0.8rem;
  text-align: start;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
h2,
h3,
h4 {
  font-family: "Century Gothic";
}
button {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.2rem;
}
button:hover {
  background-color: rgb(223, 215, 208);
}
#read_more_button {
  border: none;
  text-decoration-line: underline;
  font-weight: 600;
}

#student_list {
  border: 1px solid black;
  /* width: 95vw; */
}
#list tr:nth-child(odd) td {
  background-color: rgb(223, 215, 208);
}
th,
td {
  padding: 0.4rem;
}
th.sortby[data-sort-direction="asc"]::after {
  content: " ▼";
  font-size: 0.8rem;
}
th.sortby[data-sort-direction="desc"]::after {
  content: " ▲";
  font-size: 0.8rem;
}
/* style on prefect*/
th[data-sort="prefect"] {
  font-size: 1.5rem;
}
td[data-field="prefect"]::after {
  content: "🎖";
  font-size: 1.5rem;
}
td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(100%);
}

#info_box {
  /* background-color: rgb(223, 215, 208); */
  padding: 0.6rem;
  height: fit-content;
  border: 1px solid black;
}

/* indsæt mediaquery */
@media screen and (min-width: 1000px) {
  #content_container {
    display: flex;
    justify-content: center;
  }
  #list_section {
    margin-left: 2rem;
  }
  #student_list {
    width: 60rem;
  }
}
